<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="form-popup" id="addItem" style="display: block;">
        <form action="useradd" class="form-container" method="POST" autocomplete="off">
          <h1>New User</h1>
          <% for(var i=0; i<data.length; i++) {%>
            <label for="<%= data[i]  %> "><b><%= data[i]  %></b></label>
            <br>
            <input type="text" placeholder="<%= data[i]  %>" name="<%= data[i]  %>" required="">
            <br>
          <% } %>    
          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn cancel" >Cancel</button>
        </form>
      </div>
</body>
</html>