<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <header class="header">
    <div style="display: inline-block;" id="pageName" class="headerText"><img src="/Flower.jpg" alt="Temp Icon" width="50" height="50"><img src="/Soccerball.jpeg" alt="Temp Icon" width="50" height="50"><img src="/icon.png" alt="Temp Icon" width="50" height="50"><%= page %> </div>
    <div style=" display: inline-block; float: right; padding-right: 2vw;"><img style=" display: inline-block; float: right; border-radius: 25%;" src="/Scott Forslund.jpg" alt="Temp Icon" width="50" height="auto"></div>
    <!-- <button onclick="location.href = '/forms/form'" style="float: right;">Add User</button> -->
    <form action="/forms/form" style="float: right;">
      <input type="hidden" name="table" value="users">
      <button type="submit" class="btn">New User</button>
    </form>
  </header>
</html>