<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    
    <% for(var i=0; i<data.length; i++) {%>        
        <% if (typeof listId !== 'undefined'){ %> 
            <% if (data[i][listId] == id){ %>
                <%- include('list_item', {tab: tab, i: i, data: data, listAction: listAction, listTitle: listTitle, listChildId: listChildId}); %>
            <% } %> 
        <% } else { %> 
            <%- include('list_item', {tab: tab, i: i, data: data, listAction: listAction, listTitle: listTitle, listChildId: listChildId}); %>
        <% } %>
    <% } %>
</body>
</html>